{% extends 'posts/index.html '%}

{% block css_files %}
  <style>
    .login {
      display: inline-block;
      color: #0d6efd;
      margin-top:1em;
    }
  </style>
{% endblock %}

{% block content %}

<div class="container">


  {% if passwordreset == 'done' %}

      <div class="message-container">
        <h1 class="form-title">Password reset sent</h1>
        <br>
      <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
      <br>

      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
      </div>

  {% elif passwordreset == 'complete' %}
      <div class="message-container">
        <h1 class="form-title">Password Reset Complete</h1><br>
        <p>Your password has been set. You may go ahead and log in now.</p>

        <a href="{% url 'login' %}" class="login">Log in</a>
      </div>
  {% else %}
      
      {% if passwordreset != 'confirm' %}
      <div class="message-container">

        <p>Forgotten your password?</p> 
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
      </div>
      {% endif %}
      
      <form class="user-form" method="post">
        <h1 class="form-title">Password reset</h1>
        {% csrf_token %}
        {% for field in form %}
          <div class="form-field">
          <div class="label">{{field.label}}</div>
          <div>{{field}}</div> 
          <div>{{field.errors}}</div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-secondary">Reset my password</button>
      </form>

    </div>  

  {% endif %}

{% endblock %}